
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.text-primary{
    color:#0D1321;
}
.btn-primary{
    padding: 17px 24px;
    border-radius: 8px;
}
.text-center{
    text-align: center;
}

/*nav styles*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:20px 100px;
}
.nav-title{
    font-weight: 800;
    font-size: 28px;
    
}


/*banner styles*/
.banner{
    /* align-items: center; */
    /* justify-content: center; */
    background-image: url("../assets/Hero-bg.png");
}
.banner-content{
    max-width: 998px;
    align-items: center;
    /* margin: 0 auto;
    padding-left: 400px; */
}

main{
    max-width: 1140px;
    margin: 0 auto;
    background-color: #E7ECFF;
    padding: 40px;
}
.main-title, .main-description{
    text-align: center;
    
}

.main-section-1{
    display: flex;
    justify-content: space-between;
}
.main-section-2{
    display: flex;
    justify-content: space-between;
}
.main-section-3{
    display: flex;
    justify-content: space-between;
}
/* .section-items{
    margin-top:20px;
} */
.section-content{
    margin-right: 200px;
    margin-top:20px;
}
.second-section-content{
    margin-left: 200px;
    margin-top:20px;
}

/* target section */

.target{
    max-width: 1140px;
    margin: 0 auto;
}


/* skills style */

.skills-container{
    margin-left: 100px;
    display: flex;
    gap: 24px;
}
.skill{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.htmls{
    background-color: rgba(255, 76, 30, 0.05);
}
.css{
    background-color: rgba(0, 76, 232, 0.05);
}
.js{
    background-color: rgba(255, 223, 0, 0.05);
}

.support{
    background-image: url("/assets/handshake.jpg");
    background-repeat: no-repeat;
    max-width: 1140px;
    margin: 0 auto;
    /* padding: 200px; */
}
.support-content{
    margin: 30px 200px;
}
.suggestion-form{
    margin-left: 100px;
}
/* .suggestion-input{
    min-width: 600px;
} */


/* footer style */

footer{
    display: flex;
    justify-content: space-between;
}